.Header-container {
  /* Used to move the menu inline with the logo */
  display: flex;
}

.Header-logo {
  width: 135px;
  margin: 5px;
  /* Used to make the logo appear more vertically aligned (since the logo has surrounding white space */
  margin-top: 10px;
}

.Header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-navigation-item {
  text-transform: uppercase;
  font-weight: .8em;
  font-weight: bold;
  margin: 10px;
  color: #3F6773;
}

.Header-separator {
  border-color: #f2f2f2;
  border-width: 1px;
  border-style: solid;
}