/*
  File reserved for global styles (global font styles, background colours, etc)
*/

body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  border-color: #f2f2f2;
  border-width: 1px;
  border-style: solid;
}